canvas {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board-container {
    position: absolute;
    width: 640px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.board {
    position: relative;
    width: inherit;
    height: inherit;
}

.ammo {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: .5em
}

.fuel-meter {
    position: absolute;
    left: 13%;
    top: -15%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    padding-right: .5em;
}

.level {
    width: 55px;
    height: 25px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}

.time {
    position: absolute;
    right: 13%;
    top: -15%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
}

.time-num, .time-text {
    color: white;
    font-family: sans-serif;
    padding: .5em;
}

.speedometer {
    position: absolute;
    left: 13%;
    top: -5%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
}

.speed, .mph, .miles, .miles-unit {
    color: white;
    font-family: sans-serif;
    padding: .5em;
}

.miles-left {
    position: absolute;
    right: 13%;
    top: -5%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
}

.crash {
    position: absolute;
    background-color: rgb(218, 208, 208, .9);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 17%;
    top: 30%;
    display: none;
}

.show {
    display: flex;
}

.crash-msg {
    font-family: sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: red
}

.accident-img {
    width: 100px;
    height: 100px;
}

.accelerate {
    display: none;
}

.win-img{
    width: 100px;
    height: 100px;
}

.win {
    position: absolute;
    background-color: white;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 17%;
    top: 30%;
    display: none;
}

.win-msg {
    font-family: sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: seagreen;
}

body {
    background-color: #f44336;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.game-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}

.compete {
  font-size: 26px;
  font-weight: bold;
}

.zombie-img {
}
